<div class="row">

  <div class="col-md-12">

    <form (ngSubmit)="addCity()" #weatherForm="ngForm" novalidate>
      
      <div class="form-group">

        City Name:
        <input type="text" name="cityName" id="cityName" ngModel required>

      </div>


      <div class="form-group">

        <button type="submit" > I'm feel lucky


          <!--  [disabled]="!weatherForm.vaild"    -->
        </button>


      </div>

    </form>

    <table>
      <tr *ngFor="let w of weatherOfCities">


        <td>
          <img src="http://openweathermap.org/img/w/{{w.icon}}.png" alt="">
        </td>
        <td>
          <strong>{{w.main}}--{{w.description}}</strong>
        </td>

      </tr>
    </table>



  </div>


</div>